out/production/classes/Models/Message.class
out/production/classes/MessagingService.class
out/production/classes/Controllers/MessagingController.class
build/tmp/jar/MANIFEST.MF
build/libs/gs-rest-service-0.1.0.jar.original
build/libs/gs-rest-service-0.1.0.jar
build/classes/main/MessagingService/Models/Message.class
build/classes/main/MessagingService/MessagingService.class
build/classes/main/MessagingService/Controllers/MessagingController.class
.idea/workspace.xml
.idea/vcs.xml
.idea/modules/jk-quickpost-messaging-server_test.iml
.idea/modules/jk-quickpost-messaging-server_main.iml
.idea/modules/jk-quickpost-messaging-server.iml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Gradle__org_yaml_snakeyaml_1_17.xml
.idea/libraries/Gradle__org_springframework_spring_webmvc_4_3_10_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_web_4_3_10_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_test_4_3_10_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_expression_4_3_10_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_core_4_3_10_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_context_4_3_10_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_beans_4_3_10_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_aop_4_3_10_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_test_autoconfigure_1_5_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_test_1_5_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_web_1_5_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_1_5_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_test_1_5_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_1_5_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_1_5_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_1_5_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_1_5_6_RELEASE.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Gradle__org_slf4j_log4j_over_slf4j_1_7_25.xml
.idea/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_25.xml
.idea/libraries/Gradle__org_slf4j_jcl_over_slf4j_1_7_25.xml
.idea/libraries/Gradle__org_skyscreamer_jsonassert_1_4_0.xml
.idea/libraries/Gradle__org_ow2_asm_asm_5_0_3.xml
.idea/libraries/Gradle__org_objenesis_objenesis_2_1.xml
.idea/libraries/Gradle__org_mockito_mockito_core_1_10_19.xml
.idea/libraries/Gradle__org_jboss_logging_jboss_logging_3_3_1_Final.xml
.idea/libraries/Gradle__org_hibernate_hibernate_validator_5_3_5_Final.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_assertj_assertj_core_2_6_0.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_16.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_el_8_5_16.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_8_5_16.xml
.idea/libraries/Gradle__net_minidev_json_smart_2_2_1.xml
.idea/libraries/Gradle__net_minidev_accessors_smart_1_1.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Gradle__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
.idea/libraries/Gradle__com_jayway_jsonpath_json_path_2_2_0.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_8_9.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_8_9.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_8_0.xml
.idea/libraries/Gradle__com_fasterxml_classmate_1_3_3.xml
.idea/libraries/Gradle__ch_qos_logback_logback_core_1_1_11.xml
.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_1_11.xml
.idea/gradle.xml
.idea/compiler.xml
.gradle/buildOutputCleanup/cache.properties.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/built.bin
.gradle/3.5-rc-2/taskHistory/taskHistory.lock
.gradle/3.5-rc-2/taskHistory/taskHistory.bin
.gradle/3.5-rc-2/taskHistory/jvmClassSignatures.bin
.gradle/3.5-rc-2/taskHistory/fileSnapshots.bin
.gradle/3.5-rc-2/taskHistory/fileHashes.bin
.gradle/3.5-rc-2/fileContent/fileContent.lock
.gradle/3.5-rc-2/fileContent/annotation-processors.bin
.gradle/3.5-rc-2/file-changes/last-build.bin
